            div {
				border:1px solid #ccc; /*레이아웃 외곽선의 두께 설정*/ 
			}
			#container {
				width: 0 auto;
				margin:0 auto; 
			}
			#header {
				padding: 10px; /* 레이아웃 바깥으로부터의 여백설정, 내부의 여백설정은 margin */
				margin-bottom:10px;
			}
			#map {
				width: 48.7%; /*레이아웃의 가로길이 */
				height: 600px;
				float: left;;/*레이아웃이 왼쪽부터 시작되게 붙이기*/
				margin-bottom: 20px; /*외곽선이 밑으로 부터 얼마나 떨어져 있는가?*/
			}
			#left-sidebar {
				width: 25%;
				height: 600px;
				float: left;
				margin-right: 10px;
			}
			
			
			#right-sidebar {
				width: 25%; 
				height: 600px;
				float: right; 
				margin-bottom: 20px;  
			}
			#footer {
				clear:both;	 /*사진 주위로 글이 안붙음, 줄바꿈됨*/
			}